html {
    height: 100%;
}

#mainTable {
    display: table;
    table-layout: fixed;
    background-color: #FAFAFA;
    width: 100%;
    height: 100%;
}

.dropZoneCell, #editCell {
    text-align: center;
    display: table-cell;
    width: 100%;
    height: 100%;
    border: 1px dotted #026871;
    position: relative;
}

.dropZoneHeader {
    background-color: white;
    font-size: 170%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #026871;
    padding: 7px;
    border: 2px solid black;
}

.dueDate {
    border-bottom: 4px solid yellow;
    border-radius: 2px;
    text-align: left;
}

.taskWrapper {
    border: 1px solid #026871;
    padding: 15px;
    position: relative;
}

.task {
    text-align: left;
}

.editButton {
    background-image: url("/resources/images/edit-icon.png");
    height: 30px;
    width: 28px;
    position: absolute;
    top: 5px;
    right: 10px
}

#closeEditCellButton {
    background-image: url("/resources/images/close-icon.png");
    height: 22px;
    width: 20px;
    position: absolute;
    top: 5px;
    right: 10px;
    background-position: center;
    border: 1px white;
}


